<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True" />
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <membership defaultProvider="MyProvider">
      <providers>
        <clear/>
        <add name="MyProvider" type="iStarosta.Providers.MyProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="iStarosta.Providers.MyRoleProvider" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="Content/Login.aspx"  defaultUrl="Content/News.aspx" timeout="2880" />
    </authentication>
    <customErrors mode="On"
                      defaultRedirect="~/ErrorPages/ApplicationErrorPage.aspx" >
      <error statusCode="404" redirect="~/ErrorPages/404.aspx" />
    </customErrors>
  </system.web>


</configuration>
